assets*
LazyHeroesGeneration.ipynb
bin*
colors*
keygen*
keys*
share*
style*
etc*
include*
lib*
lib64*
.ipynb_checkpoints
.ipynb_checkpoints/SolKeysGeneration-checkpoint.ipynb
docs/key-metaplex/js/node_modules/*
docs/key-metaplex/js/packages/cli/node_modules/*
docs/key-metaplex/js/packages/web/node_modules/*
docs/key-metaplex/js/packages/fair-launch/node_modules/*
docs/key-metaplex/js/packages/common/node_modules/*
pyvenv.cfg
devnet-temp
